Articles#Show
<br>
<%= @article.title %>
<br>
<% @article.categories.each do |category| %>
    <span class="badge badge-pill padding" style="background-color: <%= category.color %>">
        <p><%= link_to category.title, category %></p>
    </span>
<% end %>
<br>
<%= @article.content %>
<br>
<%= link_to 'Editar', edit_article_path(@article) %>
<br>
<p>Escrito por</p>
<br>
<%= link_to @article.user.email, "/articles/user/#{@article.user.id}" %>
<br>
<%= link_to 'Eliminar', article_path(@article), method: :delete, data: { confirm: "¿Eliminar Artículo?" } %>
<br>
<%= link_to 'Regresar', articles_path %>